<div ng-controller="listCtrl">
	<!--체크개수랑 총개수를 표시-->
	<p>
		게시물 총 {{dataList.length}} 건 :  
		<button ng-click="deleteDone()">{{getDoneCount()}} 건 선택 삭제 </button>
	</p>
	<!--데이터를 표시-->
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>No</th>
				<th>제목</th>
				
			</tr>
		</thead>
		<tbody ng-repeat="data in dataList" >
			<tr>
				<td class="done-{{data.done}}">
					<input type="checkbox" ng-model="data.done">
					{{data.no}}
				</td>
				<td>
					<span class="done-{{data.done}}">
						<a ng-href="#/board/{{data.no}}" >
							{{data.title}}
						</a>
					</span>
				</td>
				
			</tr>
		</tbody>
	</table>
	<p><button ng-click="show()" ng-hide="editView">작성하기</button></p>
	<div ng-show="editView">
		<form ng-submit="addNew()">
			<p>
				<label>제목 : </label>
				<input type="text" ng-model="newTitle">
			</p>
			<p>
				<label>내용 : </label>
				<input type="text" ng-model="newContents">
			</p>
			<p>
				<input type="submit" value="작성하기">
				<input type="button" value="취소하기" ng-click="show()">
			</p>
		</form>
	</div>
	<div ui-view></div>
	
</div>
